@model FarmProduceManagement.Models.Dtos.UpdateCategoryRequestModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Category Update";
}


<div class="row">
    <div class="col-md-2">
        <div>@await Html.PartialAsync("~/Views/User/Menu.cshtml")</div>
    </div>
    <div class="col-md-10">
        <div class="text-center">
    <h3>@ViewData["Title"]</h3>
    </div>
        <div>
            <div style="color: red;">@TempData["message"]</div>
            <div>
                <form asp-action="Update">
                    <div>
                        <label asp-for="NameOfCategory"></label>
                        <input type="text" asp-for="NameOfCategory">
                        <span asp-validation-for="NameOfCategory"></span>
                    </div>
                    <div>
                        <label asp-for="DescriptionOfCategory"></label>
                        <input type="text" asp-for="DescriptionOfCategory">
                        <span asp-validation-for="DescriptionOfCategory"></span>
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit" value="Submit" />
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>



