@model FarmProduceManagement.Models.Dtos.UpdateCategoryRequestModel

<div>
    <div>@TempData["message"]</div>
    <div>
        <form asp-action="Update">
            <div>
                <label asp-for="NameOfCategory"></label>
                <input type="text" asp-for="NameOfCategory">
                <span asp-validation-for="NameOfCategory"></span>
            </div>
            <div>
                <label asp-for="DescriptionOfCategory"></label>
                <input type="text" asp-for="DescriptionOfCategory">
                <span asp-validation-for="DescriptionOfCategory"></span>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>

        </form>
    </div>
</div>