@model FarmProduceManagement.Models.Dtos.CreateProduceRequestModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create Produce";
}
<div class="">
    <div class="row">
        <div class="col-md-2 border" style="min-height: 520px; padding: 0px; margin: 0px">
            @await Html.PartialAsync("~/Views/User/Menu.cshtml")
        </div>
        <div class="row col-md-10 pt-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <span class="text-center"><h3>@ViewData["Title"]</h3></span>
                
                <div>@TempData["message"]</div>
                <form asp-action="Add">
                    <div>
                        <label asp-for="ProduceName"></label>
                        <input asp-for="ProduceName" class="form-control" type="text" />
                        <span asp-validation-for="ProduceName"></span>
                    </div>
                     <div>
                        <label asp-for="CategoryId"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.allCategories">
                            <option value="0">----select category----</option>
                        </select>
                        <span asp-validation-for="CategoryId"></span>
                    </div>
                    <div>
                        <label asp-for="CostPrice"></label>
                        <input asp-for="CostPrice" class="form-control" type="text" />
                        <span asp-validation-for="CostPrice"></span>
                    </div>
                    <div>
                        <label asp-for="UnitOfMeasurement"></label>
                        <input asp-for="UnitOfMeasurement" class="form-control" type="text" />
                        <span asp-validation-for="UnitOfMeasurement"></span>
                    </div>
                   
                    <div class="mt-2 text-end">
                        <button type="submit" class="btn btn-primary" style="width: 30%">Create Produce</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

 @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}      