@model FarmProduceManagement.Models.Dtos.UpdateProduceRequestModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="row">
    <div class="col-md-2">
        <div>@await Html.PartialAsync("~/Views/User/Menu.cshtml")</div>
    </div>
    <div class="col-md-10">

        <div>
            <div>@TempData["message"]</div>
            <div>
                <form asp-action="Update">
                    <div>
                        <label asp-for="ProduceName"></label>
                        <input type="text" asp-for="ProduceName">
                        <span asp-validation-for="ProduceName"></span>
                    </div>
                    <div>
                        <label asp-for="QuantityToBuy"></label>
                        <input type="text" asp-for="QuantityToBuy">
                        <span asp-validation-for="QuantityToBuy"></span>
                    </div>
                    <div>
                        <label asp-for="CostPrice"></label>
                        <input type="text" asp-for="CostPrice">
                        <span asp-validation-for="CostPrice"></span>
                    </div>
                    <div>
                        <label asp-for="UnitOfMeasurement"></label>
                        <input type="text" asp-for="UnitOfMeasurement">
                        <span asp-validation-for="UnitOfMeasurement"></span>
                    </div>
                    @* <div>
                    <label asp-for="NameOfCategory"></label>
                    <input type="text" asp-for="NameOfCategory">
                    <span asp-validation-for="NameOfCategory"></span>
                    </div> *@
                    <div>
                        <input class="btn btn-primary" type="submit" value="Submit" />
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}